.com-autocomplete {
  background: #fff;
  font-size: 14px;
  z-index: 1500;
}
.com-autocomplete li {
  padding: 3px 0;
  margin: 3px 0;
  cursor: pointer;
}
.com-autocomplete li.active {
  background: #dededc;
}
.com-autocomplete li a {
  margin: 0 10px;
}
.com-autocomplete li a span {
  background: #ff0;
}
