#searchbox {
  background: #336699;
  color: white;
  text-align: center;
  padding: 20px 0 25px;
}
.index #searchbox h1 {
  font-size: 3em;
}
#searchbox .search-inner {
  width: 80%;
  margin: 20px auto 0;
}
#searchbox .search-inner .search-input {
  display: table;
  width: 100%;
}
#searchbox .search-inner .search-input .td {
  display: table-cell;
  height: 35px;
  vertical-align: middle;
}
#searchbox .search-inner .search-input .td.input {
  width: 100%;
}
#searchbox .search-inner .search-input .td.input #destination {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  width: 100%;
  height: 100%;
  padding: 0 20px;
  outline: 0;
  border: 0;
}
#searchbox .search-inner .search-input .td.action .search {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  background: #ff9933;
  padding: 7px 20px;
  height: 35px;
  display: block;
  cursor: pointer;
}
#searchbox .search-inner .search-input .td.action .search .icon {
  font-size: 1.2em;
  margin-right: 10px;
  vertical-align: middle;
}
#searchbox .search-inner .searchbox-options {
  width: 100%;
  overflow: hidden;
  margin-top: 20px;
}
#searchbox .search-inner .searchbox-options > li {
  width: 25%;
  float: left;
}
#searchbox .search-inner .searchbox-options > li a {
  display: block;
  margin-left: 20px;
  background: #bbbbbb;
  padding: 7px 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  cursor: pointer;
}
#searchbox .search-inner .searchbox-options > li a.active {
  background: #ff9933 !important;
}
#searchbox .search-inner .searchbox-options > li a:hover {
  background: #cc6600;
}
#searchbox .search-inner .searchbox-options > li a:active {
  background: #663300;
}
#searchbox .search-inner .searchbox-options > li:first-child a {
  margin-left: 0;
}
#searchbox .search-inner .search-months {
  margin: 20px 0 0 0;
  padding: 15px 20px 15px 0;
  border: 1px #ff9933 solid;
  border-radius: 10px;
  position: relative;
  display: none;
}
#searchbox .search-inner .search-months:before {
  content: '';
  border-bottom: 15px solid #ff9933;
  border-left: 10px solid transparent;
  border-right: 10px solid transparent ;
  position: absolute;
  bottom: 100%;
  left: 37.5%;
}
#searchbox .search-inner .search-months:after {
  border-bottom: 8px solid #336699;
  border-left: 8px solid transparent;
  border-right: 8px solid transparent ;
  position: absolute;
  bottom: 100%;
  left: 37.5%;
  margin-left: 1px;
}
#searchbox .search-inner .search-months ul {
  overflow: hidden;
}
#searchbox .search-inner .search-months .long {
  display: none;
}
#searchbox .search-inner .search-months .short {
  background: #bbbbbb;
  padding: 7px 0;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  border-radius: 5px;
  -moz-background-clip: padding;
  -webkit-background-clip: padding-box;
  background-clip: padding-box;
  cursor: pointer;
  display: block;
}
#searchbox .search-inner .search-months .short.active {
  background: #ff9933 !important;
}
#searchbox .search-inner .search-months .short:hover {
  background: #cc6600;
}
#searchbox .search-inner .search-months .short:active {
  background: #663300;
}
aside #searchbox .search-inner .search-input a.primary.search span.icon.icon-search {
  margin-right: 0;
}
aside #searchbox .search-inner .search-input a.primary.search span.legend {
  display: none;
}
aside #searchbox .search-inner .searchbox-options > li {
  width: 50%;
  margin-bottom: 15px;
}
aside #searchbox .search-inner .searchbox-options > li .forecast {
  margin-left: 0;
}
aside #searchbox .search-inner .search-months {
  padding-bottom: 0;
}
aside #searchbox .search-inner .search-months ul > li {
  width: 25%;
  margin-bottom: 15px;
}
@media screen and (max-width: 680px) {
  #searchbox .search-inner .search-input a.primary.search span.icon.icon-search {
    margin-right: 0;
  }
  #searchbox .search-inner .search-input a.primary.search span.legend {
    display: none;
  }
  #searchbox .search-inner .searchbox-options > li {
    width: 50%;
    margin-bottom: 15px;
  }
  #searchbox .search-inner .searchbox-options > li .forecast {
    margin-left: 0;
  }
  #searchbox .search-inner .search-months {
    padding-bottom: 0;
  }
  #searchbox .search-inner .search-months ul > li {
    width: 25%;
    margin-bottom: 15px;
  }
}
